<configuration>
	<system.webServer>
		<!--  Indicate IIS to use iisnode to handle requests to src/listen.js -->
		<handlers>
			<add name="iisnode" path="src/listen.js" verb="GET" modules="iisnode" />
		</handlers> 
		<!--  route all request to the src/listen.js file -->
		<rewrite>
			<rules>
				<rule name="root">
					<match url="/*" />
					<action type="Rewrite" url="src/listen.js" />
				</rule>
			</rules>
		</rewrite>
		<!-- exclude node_modules directory and subdirectories from serving
		by IIS since these are implementation details of node.js applications -->
		<security>
			<requestFiltering>
			<hiddenSegments>
				<add segment="node_modules" />
			</hiddenSegments>
			</requestFiltering>
		</security>    
	</system.webServer>
</configuration>